
body{
    background-color: #1d1d1d;}

h1{
    text-align:left;
    font-family: Monument Extended;
    font-size: 100px;
    color: white;}

span { color: #fd2055}

.subtitle{
    color: #03FDD8;
    font-size: 40px;
    font-family: 'Helvetica Neue';
    margin-top: -5%;
    padding-left: 10%;}

.music{
    display: flex;
    align-items: right;
    width: 50px;
    height: 50px;}

#icon{
    width:80px;
    cursor: pointer;}

h3{
    color: #03FDD8;
    font-size: 50px;
    font-family: Monument Extended;}

.presentation{
    font-size: 25px;
    align-items: center;
    font-family: 'Helvetica Neue';}

.presentation-box{
    width: 75%;
    /* padding: 20px; */
    /* margin-left: 160px; */
    text-align: justify;
    /* text-align: center; */
    color: white;}

.box-face{
    width: 200px;
    height: 200px;
    background-image: url("images/yo.png");
    background-size: cover ;
    margin: 0 auto;
    border-radius: 50%;
    margin: 0 auto;
    align-items: right;}

.container{
    display: grid;
    grid-template-columns:1 1 1;
    grid-template-rows: 1 1 1;}

.item-brain{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 4;
    grid-row-start: 1;
/*
    transition:none !important;
    box-shadow: none !important;
*/
    --webkit-box-shadow: none !important;
    --webkit-transform:none !important;}

.item1{
    max-height: 300px;
    max-width: 300px;
    grid-column-start: 1;
    column-span: 1fr;
    border-radius: 80px 80px 0% 80px;
    image-resolution: 16/9;}

.item2{
    max-height: 300px;
    max-width: 300px;
    grid-column-start: 1;
    grid-row-start: 2;
    column-span: 1;
    border-radius: 80px 0px 0px 80px;
    image-resolution: 16/9;}

.item3{
    max-height: 300px;
    max-width: 300px;
    grid-column-start: 1;
    grid-row-start: 3;
    column-span: 1;
    border-radius: 80px 0px 80px 80px;
    image-resolution: 16/9;  }

.item4{
    max-height: 300px;
    max-width: 300px;
    grid-column-start: 3;
    column-span: 1;
    border-radius: 80px 80px 80px 0%;
    image-resolution: 16/9;  }

.item5{
    max-height: 300px;
    max-width: 300px;
    grid-column-start: 3;
    grid-row-start: 2;
    column-span: 1;
    border-radius: 0px 80px 80px 0%;
    image-resolution: 16/9;  }

.item6{
    max-height: 300px;
    max-width: 300px;
    grid-column-start: 3;
    grid-row-start: 3;
    column-span: 1;
    border-radius: 0px 80px 80px 80px;
    image-resolution: 16/9;  }

.container img:hover{
    transition:all .5s ease-in-out;
    box-shadow: 0px 0px 15px 15px #00D0AD;
    --webkit-box-shadow: 0px 0px 15px 15px #00D0AD;
    --webkit-transform:scale(1.3);}

.cta{
    margin: auto;
    background-color: #03fdd8;
    color:black;
    text-decoration: none;
    padding: 1.2em 3em;
    border-radius: .4em;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;

    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}
.modal:target{
    --opacity: 1;
    --pointer:unset;
}

.modal_container{
    margin:auto;
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    padding: 2.5em 1.5em;
    border-radius: 1em;}

.modal:target .modal_container{
    animation: slow 1s .5s backwards;
}

@keyframes show{
    0%{
        transform: translateY(-150vh)
    }
    100%{
        transform: translateY(-150vh);
    }
}
.modal_picture{
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2em;
}

.modal:target .modal_picture{
    animation: slow 1s .5s backwards;
    border-radius:50%;
}

@keyframes scale{
    0%{
        transform: scale(0);
    }
}

.modal_img{
    width: 100%;
    display:block;
    border-radius: 35px 35px;
}

.modal_title{
    font-size: 2.5em;
    font-weight: 500;
}

.modal_title--bold{
    font-weight: 700;
}

.modal_paragraph{
    margin-top: 1em;
    margin-bottom: 1em;
    line-height:1.5;
}

.modal_close{
    display: inline-block;
    border: 1px solid rgb(3, 3, 3);
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 700;
    color: rgb(3, 3, 3);
    border-radius: .4em;
}

@media (max-width:600px) {
    .modal_title{
        font-size: 1.7rem;
    }
}


/* formulario de contacto */
.container-form{
    width: 100%;
    max-width: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form form .campo, textarea{
    width:100px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea{
    max-width: 530px;
    min-width: 530px; 
    max-height: 150px;
    min-height: 140px;   
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    background: #e39403;
} 


.ele {
  color: hsla(0, 0%, 0%, .9);
  font-size: 130px;
  font-family: Monument Extended;
  position: absolute;
  top: 27%;
  left: 20%;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #fd2055, 
      3px -3px 0 #fd2055, 
      2px -2px 0 #fd2055, 
      1px -1px 0 #fd2055, 
      -4px 4px 0 #03fdd8, 
      -3px 3px 0 #03fdd8, 
      -2px 2px 0 #03fdd8, 
      -1px 1px 0 #03fdd8
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 #03fdd8, 
      -3px -3px 0 #03fdd8, 
      -2px -2px 0 #03fdd8, 
      -1px -1px 0 #03fdd8,
      4px 4px 0 #fd2055, 
      3px 3px 0 #fd2055, 
      2px 2px 0 #fd2055, 
      1px 1px 0 #fd2055, 
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #fd2055,  
      -3px 3px 0 #fd2055, 
      -2px 2px 0 #fd2055, 
      -1px 1px 0 #fd2055, 
      4px -4px 0 #03fdd8, 
      3px -3px 0 #03fdd8, 
      2px -2px 0 #03fdd8, 
      1px -1px 0 #03fdd8
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #03fdd8, 
      3px 3px 0 #03fdd8, 
      2px 2px 0 #03fdd8, 
      1px 1px 0 #03fdd8,
      -4px -4px 0 #fd2055, 
      -3px -3px 0 #fd2055, 
      -2px -2px 0 #fd2055, 
      -1px -1px 0 #fd2055
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #fd2055, 
      3px -3px 0 #fd2055, 
      2px -2px 0 #fd2055, 
      1px -1px 0 #fd2055, 
      -4px 4px 0 #03fdd8, 
      -3px 3px 0 #03fdd8, 
      -2px 2px 0 #03fdd8, 
      -1px 1px 0 #03fdd8
    ;
  }  
}